<!DOCTYPE html>
<html>
<head>
	<title>Instructions Questions</title>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>

	<form method="POST">

	<p>Please answer the following questions to proceed with the study. If you answer any of the questions incorrectly, you will be rerouted to the instructions.</p>
	<br>

	<p>1. What does a red box at the center of the screen signal?
	<br>
	<input type="radio" name="a1" value="A">
	A trial is about to start.
	<br>
	<input type="radio" name="a1" value="B">
	Your response was recorded.
	<br>
	<input type="radio" name="a1" value="C">
	You are running out of time to respond.
	<br>
	<input type="radio" name="a1" value="D">
	You did not respond in time.
	<br>
	<input type="radio" name="a1" value="E">
	A red box never appeared in the instructions or demo.
	<br>
	</p>

	<p>2. What does a yellow box at the center of the screen signal?
	<br>
	<input type="radio" name="a2" value="A">
	A trial is about to start.
	<br>
	<input type="radio" name="a2" value="B">
	Your response was recorded.
	<br>
	<input type="radio" name="a2" value="C">
	You are running out of time to respond.
	<br>
	<input type="radio" name="a2" value="D">
	You did not respond in time.
	<br>
	<input type="radio" name="a2" value="E">
	A yellow box never appeared in the instructions or demo.
	<br>
	</p>

	<p>3. What does a green box at the center of the screen signal?
	<br>
	<input type="radio" name="a3" value="A">
	A trial is about to start.
	<br>
	<input type="radio" name="a3" value="B">
	Your response was recorded.
	<br>
	<input type="radio" name="a3" value="C">
	You are running out of time to respond.
	<br>
	<input type="radio" name="a3" value="D">
	You did not respond in time.
	<br>
	<input type="radio" name="a3" value="E">
	A green box never appeared in the instructions or demo.
	<br>
	</p>
	<center>
	<input type="submit" name="submit" value="Go back to instructions" style="font-size: 30px;">
	<input type="submit" name="submit" value="Submit" style="font-size: 30px;">
	</center>
	</form> 
</body>
</html>