<!DOCTYPE html>
<html>
<head>
	<title>Choice Task Instructions</title>
	<center><h2>Choice Task Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	Imagine you have to choose a food to eat right now. On each trial, you will see this reference food on the left (display the selected reference food) - it is always the same. On the right the food picture will change on each trial. For each picture, indicate whether you prefer the food on the right or the reference food on the left.
	</p>
	<center>
	<img id="instructions" src="{{ url_for('static', filename = 'choicetask_instructions.png') }}">
	</center>
	<center>
	<p>
	Click continue to start a short demo.
	</p>
	</center>
	<center>
	<form method="POST">
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
	<br>
</body>
</html>