<!DOCTYPE html>
<html>
<head>
	<title>Choice Task Instructions</title>
	<center><h2>Choice Task Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	Imagine you have to choose a food to eat right now. On each trial, you will see this reference food on the left - it is always the same. On the right the food picture will change on each trial. For each picture, indicate whether you prefer the food on the right or the reference food on the left. When rating the pictures, think about a snack sized portion of the food rather than the exact amount of food shown in the picture.
	</p>
	<hr>
	<center><p>Do you prefer the reference item on the left or the food on the right?</p></center>
	<center>
		<table>
		  <tr>
		  	<th>
		    <img src="{{refItem}}" style="width:100%">
		</th>
		<th style="width:50px">
		</th>
		<th>
		    <img src="{{secondItem}}" style="width:100%">
		  </th>
		</tr>
		</table>
	</center>
	<center>
	<img src="{{ url_for('static', filename = 'stimcharproj/scp_ratingtask_scale.png') }}" width="80%">
	<hr>
	</center>
	<center>
	<form method="POST">
	<p>
	If you would like to repeat the demo, click here: <input type="submit" name="submit" value="Repeat Demo" style="font-size: 30px;"> 
	<br> 
	<br>
	To continue with the experiment, click here: <input type="submit" name="submit" value="Continue" style="font-size: 30px;">
	</p>
	</form> 
	</center>
	<br><br>
</body>
</html>