<!DOCTYPE html>
<html>
<head>
	<title>Food choice instructions</title>
	<center><h2>Food choice instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	Here are the instructions again: Imagine you have to choose a food to eat right now. On each trial, you will see this reference food (shown below) on the left - it is always the same. On the right the food picture will change on each trial. For each picture, indicate whether you prefer the food on the right or the reference food on the left. When rating the pictures, think about a snack sized portion of the food rather than the exact amount of food shown in the picture.
	</p>
	<center>
		<img src="{{refItem}}">
	</center>
	<center>
	<form method="POST">
	<p>
	If you would like to repeat the demo, click here: <input type="submit" name="submit" value="Repeat Demo" style="font-size: 30px;"> 
	<br> 
	<br>
	To continue with the experiment, click here: <input type="submit" name="submit" value="Continue" style="font-size: 30px;">
	</p>
	</center>
	</form> 
	<br><br>
</body>
</html>