<!DOCTYPE html>
<html>
	<head>
		<link href="/static/style.css" rel="stylesheet">
		<title>Debriefing Form</title>
		<center><h2>Debrief: How do people make choices about what to eat?</h2></center>
	</head>
	<body>
		<p>
		In the experiment you just completed, you rated a variety of foods according to how many nutrients you think they have and how healthy and tasty you think they are. Finally, you had to make choices between all the food items and a “reference” food, according to which you would rather eat. The “reference” food was an item you rated as neutral on both taste and health. We are interested in whether people choose foods because they are healthy or because they are tasty, and whether people know the nutritional content of the foods we pictured.
		</p>
		<p>
		This study’s goal is to gather information about food pictures to help us study people who suffer from eating disorders, such as Anorexia Nervosa (AN). AN is defined as persistent restriction of energy intake leading to significantly low body weight. AN patients consistently choose low-fat, low-calorie food, and one theory for this behavior is that patients with AN have extreme self-control regarding food choices. Another explanation for this behavior is that low-fat food choice is a habit, which does not require self-control. To conduct studies of how persons with anorexia nervosa choose food, we use pictures of food like the ones you saw in this study. Understanding how people without anorexia nervosa rate those pictures helps us in such AN studies. 
		</p>
	</body>
	<center>
	<form method="POST">
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
</html>