<!DOCTYPE html>
<html>
<head>
	<title>Food Rating Task Instructions</title>
	<center><h2>Food Rating Task Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	
	<form method="POST">
	
	<p>
	Here are the instructions again: You will see a series of pictures of food. For each picture, please rate only according to your own opinion about the food. There are no right or wrong answers. When rating the pictures, think about a snack sized portion of the food rather than the exact amount of food shown in the picture.
	</p>
	<center>
	<p>
	If you would like to repeat the demo, click here: <input type="submit" name="submit" value="Repeat Demo" style="font-size: 30px;"> 
	<br> 
	<br>
	To continue with the experiment, click here: <input type="submit" name="submit" value="Continue" style="font-size: 30px;">
	</p>
	</center>
	</form> 
	
	<center>
		<hr>
			<img src="{{ url_for('static', filename = 'stimcharproj/scp_ratingtask.png') }}" width="700px">
		<hr>
	</center>
</body>
</html>