<!DOCTYPE html>
<html>
<head>
	<title>Food Ratings Task Instructions</title>
	<center><h2>Food Ratings Task Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	You will see a series of pictures of food. For each picture, please rate only according to your own opinion about the food. There are no right or wrong answers.
	</p>
	<center>
	<img id="instructions" src="{{ url_for('static', filename = 'auction_instructions.png') }}">
	</center>
	<center>
	<p>
	Click continue to start a short demo.
	</p>
	</center>
	<center>
	<form method="POST">
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
</body>
</html>