<!DOCTYPE html>
<html>
<head>
	<title>Food rating instructions</title>
	<center><h2>Food rating instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	You will see a series of pictures of food (as shown below). For each picture, please rate only according to your own opinion about the food. There are no right or wrong answers. When rating the pictures, think about a snack sized portion of the food rather than the exact amount of food shown in the picture.
	</p>
	<hr>
	<center>
		<p>Rate this food</p>
		<img src="{{refItem}}">
		<img src="{{ url_for('static', filename = 'stimcharproj/scp_ratingtask_scale_good_bad.png') }}" width="70%">
	</center>
	<hr>
	<center>
	<p>
	Click continue to start a short demo.
	</p>
	</center>
	<center>
	<form method="POST">
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
	<br><br>
</body>
</html>