<!DOCTYPE html>
<html>
<head>
	<title>Auction Instructions</title>
	<center><h2>Auction Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<center>
	<p>
	If you would like to repeat the demo, click the button here: 
	</p>
	</center>
	<form method="POST">
	<center>
		<input type="submit" name="submit" value="Repeat Demo" style="font-size: 30px;">
	</center>
	<p>
	To continue with the experiment, click the button below. <br><br> Here are the instructions again: In this part of the experiment, you will be shown 60 different snacks, one on each trial. Please determine on a scale from 0 (least) to 10 (most) how much you want to eat this food right now. Then use your mouse to record that amount by sliding and clicking on the rating scale below the shown food image. You have as much time as you need to make your ratings, but please try to make them as fast as you can. 
	</p>
	<center>
	<input type="submit" name="submit" value="Continue" style="font-size: 30px;">
	</center>
	</form> 
</body>
</html>