<!DOCTYPE html>
<html>
<head>
	<title>Auction Instructions</title>
	<center><h2>Auction Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	In this part of the experiment, you will be shown 60 different snacks, one on each trial. Please determine on a scale from $0 to $3 how much the food item is worth to you to eat right now. Then use your mouse to record that amount by sliding and clicking on the rating scale below the shown food image. You have as much time as you need to make your ratings, but please try to make them as fast as you can.
	</p>
	<br>
	<center>
	<form method="POST">
		<input type="submit" value="Continue" style="font-size: 30px;">
	</form>
	</center>
</body>
</html>