<!DOCTYPE html>
<html>
	<head>
	<title> Verify Eligibility </title>
	<link href="/static/style.css" rel="stylesheet">
	</head>

	<br>
	<p>
		Thank you for your interest in our food preferences study! Before you continue with the preview or accept the HIT, please check that you have not participated in this HIT before by entering your worker ID below. 
	</p>
	<p>
		Please note that if you have participated in this study before and you accept this HIT, you will not be able to participate in the HIT and receive credit, so check your eligibility first. If you are eligible to participate, you will be immediately sent to the next page to see the HIT. Note: Your worker ID can be found at the top left hand corner of the page.
	</p>

	<center>
	<form method="POST">
		Worker ID: <input type="text" name="workerId">
		<br>
		<br>
		<input type="submit" value="Submit" style="font-size: 30px;">
	</form>
</center>
</html>