<!DOCTYPE html>
<html>
<head>
	<title>Choice Instructions</title>
	<center><h1>Choice Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<center>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in magna ut nulla iaculis eleifend ac eu arcu. Maecenas finibus congue ex, et consectetur ante ornare ac. Quisque non facilisis turpis. Integer eget vulputate orci, nec molestie dolor. Aliquam maximus, erat in aliquet tempus, est nibh egestas diam, pellentesque dapibus risus orci id nisl. Curabitur placerat accumsan tortor, vitae efficitur enim cursus et. Proin ex lorem, eleifend quis lectus ut, ullamcorper ornare lacus. Aenean pretium rutrum convallis.
		</p>
		<br>
	<form method="POST">
		<input type="submit" value="Submit" style="font-size: 30px;">
	</form>
	</center>
</body>
</html>