<!DOCTYPE html>
<html>
<head>
	<title>Choice Instructions</title>
	<center><h2>Choice Instructions</h2></center>
	<link href="/static/style.css" rel="stylesheet">
</head>
<body>
	<p>
	Two food items will be shown on the screen in each trial. One item will be on the left and the second item will be on the right. Please determine with food item you prefer more. If you prefer the food item on the left, press key "u". If you prefer the food item on the right, press key "i".
	</p>
	<br>
	<center>
	<form method="POST">
		<input type="submit" value="Submit" style="font-size: 30px;">
	</form>
	</center>
</body>
</html>