<!DOCTYPE html>
<html>
	<head>
	<title> Thank You! </title>
	<link href="/static/style.css" rel="stylesheet">
	</head>

	<h2 style="text-align: center">Thank you for participating in this study!</h2>
	<h3 style="text-align: center"> Please make sure to click the button below to ensure your results are accepted. </h3>

	<center>
	<form method="POST" action="https://workersandbox.mturk.com/mturk/externalSubmit">
	<!form method="POST" action="https://www.mturk.com/mturk/externalSubmit">
		<input type="hidden" name="assignmentId" value="{{ assignmentId }}">
		<input type="hidden" name="exp" value="food"> 
		<input type="submit" value="Submit results" style="font-size: 30px;">
	</form>
</center>
</html>