<!DOCTYPE html>
<html>
	<head>
	<title> Thank You! </title>
	<link href="/static/style.css" rel="stylesheet">
	</head>

	<h2 style="text-align: center">Thank you for participating in this study!</h2>
	<h3 style="text-align: center"> Please make sure to click the button below to ensure your results are accepted. </h3>

	<center>
	<form method="POST">
		<input type="hidden" name="assignmentId" value="ASSIGNMENT_ID_NOT_AVAILABLE">
		<input type="submit" action="https://workersandbox.mturk.com/mturk/externalSubmit" value="Submit results" style="font-size: 30px;">

		<!input type="hidden" name="assignmentId" value={{assignmentId}}>
		<!input type="submit" action="https://www.mturk.com/mturk/externalSubmit" value="Submit results" style="font-size: 30px;">
	</form>
</center>
</html>